.critical__error {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
}
.critical__error h2 {
    text-align: center;
    margin: 8px 0 12px 0;
}
.flyingPlate {
    width: 56px;
    height: 56px;
    background-image: url('../../images/flyingPlate.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.refresh {
    color: #6534FF;
    cursor: pointer;
}
.tab__list__item {
    cursor: pointer;
    list-style: none;
    color: #97979B;
    margin-right: 10px;
    padding-bottom: 8px;
    font-size: 16px;
}