.people__top{
    background-color: #F7F7F8;
}
.people__top__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 72px 0 24px 0;
}
.people__top__info__avatar{
    border-radius: 50%;
    margin-bottom: 24px;
}
.people__top__info__name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.people__top__info__position{
    font-size: 13px;
    line-height: 16px;
    color: #55555C;
    margin-top: 12px;
}
.back__to__main{
    position: absolute;
    top: 5%;
    width: 12px;
    height: 12px;
    cursor: pointer;
    left: 5%;
    background-image: url('../../../images/back.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.people__bottom__left__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.people__bottom__left__item p{
    margin-left: 12px;
}
.people__bottom__left__item a{
    margin-left: 12px;
}
.date__image{
    background-image: url('../../../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 23px;
}

.phone__image{
    background-image: url('../../../images/phone.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 23px;
}
.people__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 27px 16px 0 16px;
}
.people__bottom__left__item a{
    color: black;
    text-decoration: none;
}